#signaturePath {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  fill: transparent;
  animation: drawSignature 8s ease-in-out infinite;
}

@keyframes drawSignature {
  0% {
    stroke-dashoffset: 240 10;

    fill: transparent;
  }

  35%,
  75% {
    stroke-dashoffset: 0;
    fill: #fff;
  }

  90%,
  100% {
    stroke-dashoffset: 240 10;
    fill: transparent;
  }
}
